/**
 * @file
 * Block Styling
 */

.block /* Block wrapper */ {

}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}


#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
	}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
	color: #BBB;
text-shadow: 1px 1px 1px black;
padding: 0 6px;
}
#block-poll-recent .links /* "Most recent poll" block */ {
	padding-left: 10px ;
}
#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

/* "Search form" block. Start. */
#block-search-form /* "Search form" block */ {
float: right;
margin-top: 7px;
position: relative;
margin-right: 15px;
}

#block-search-form  .form-submit /* The submit button */ {
font-size: 0;
background: none;
border: none;
padding: 15px 25px 2px 0px;
z-index: 10;
cursor: pointer;
position: relative;
}

#block-search-form .form-actions:after {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: bold;
color: #000;
content: "\f002";
font-size: 1.2em;
margin-left: -22px;
z-index: 0;
}
#block-search-form  .form-actions {
position: absolute;
right: 5px;
top: 0px;
}

#block-search-form a.contextual-links-trigger:hover, #block-search-form div.contextual-links-active a.contextual-links-trigger, #block-search-form a.contextual-links-trigger {

margin-right: -150px;
}


/* "Search form" block. end. */


#edit-search-block-form--2 {
position:relative;
background: #FFF;
border: none;
border-radius: 10px;
width: 150px;
padding-left: 5px;
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
background: #ECECEC;
border: 1px solid #999;
display: inline-block;
padding: 2px;
margin: 0 0 20px 0;
border-radius: 10px;
}
#block-system-user-menu .menu ,#block-system-user-menu ul.menu li,#block-system-user-menu li.leaf{
margin: 0;
padding: 1px 5px;
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}
#block-system-main .pager {
color:#F93;	
}
#block-system-main .pager a {
color: #F93;
/*background: #575757;*/
padding: 1px 11px;
border-radius: 3px;	
border: 1px solid #B3B3B3;
background: #FFF;
}
#block-system-main .pager a:hover {
background: #027AC6;
text-decoration: none;
}
#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}




/* news cycle start*/

#block-views-news3-block-1 {
border: 1px solid #8D8D8D;
margin: 15px 10px 30px;
z-index: 5;
box-shadow: 0 0 7px #868585;
height: 175px; 
background: #fff;
}

#block-views-news3-block-1 .content {
/*padding: 5px;
margin-bottom: 2px;*/
}

#views_slideshow_cycle_main_news3-block_1 .views_slideshow_cycle_main {
margin: 0 10px 0 10px;
width: 500px;
}
#views_slideshow_cycle_main_news3-block_1 .views-field-field-image {
float: left;
margin: 0 5px 0px 10px;
}
 #block-views-news3-block-1 .views-field-title a {
 font-weight: bold; 
 
 }

#block-views-news3-block-1 .views-slideshow-controls-top {
 background-color: #D5D5D5; 

margin: 7px auto;
position: relative;
}

#widget_pager_top_news3-block_1 {
margin: 0px auto;
position: relative;
}

.views_slideshow_pager_field_item * {

}
.views-content-field-image img {
width: 100px;
height: 40px;
float: left;
margin:5px 8px 5px 9px;
opacity: 0.5;
/*filter: sepia(70%);
-webkit-filter: sepia(70%);
-moz-filter: sepia(70%);
-o-filter: sepia(70%);
-ms-filter: sepia(70%);*/
}


.slide-text {
font-size: 0.9em; /* Влияет на шрифт */
width: 650px;
margin-left: 260px;
}

#block-views-news3-block-1 .views_slideshow_cycle_main {
overflow: hidden; /* Из-за неясности от чего font-weight смещает элементы, все что смещается будет вырезано */
}

#block-views-news3-block-1  .views-field-field-image {

}

.views-slideshow-controls-top .active img {
opacity: 1;
border: 1px solid #888;
border-radius: 4px;
filter: none;
-webkit-filter: none;
-moz-filter: none;
-o-filter: none;
-ms-filter: none;
}

/* Подсветка активного пункта */
.views-slideshow-controls-top  .active a  {
position: relative;
float: left;
width: 113px;
background: none;
/*    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    -o-transform: scale(1.5)); 
    transform: scale(1.5);*/
z-index: 20;
opacity: 1;
}


}

.views-content-field-image {
float:left;
}
.views-slideshow-controls-top .active {

}


#block-views-news3-block-1 .more-link a {

}
#block-views-news3-block-1 .more-link a:hover {
box-shadow:inset 0 0 15px #fFF;
}

/* news cycle end*/


.region-news1000 { /* Блок баннера в шапке */
float: right;
top: -80px;
position: relative;
right: 0px; 
}


#block-block-7 { /* Блок адреса */

padding-left: 15px;
border-top: 1px solid rgba(87, 87, 87, 0.52);
}

#block-block-8 { /* Копирайт */
float: right;
margin-top: -30px;
padding-right: 15px;
}


/* Меню в подвале start*/
#block-menu-block-4 { 
overflow: hidden;

}
#block-menu-block-4 ul {
margin: 0px;


}

#block-menu-block-4 ul li {
float: left;
margin-right: 20px;


}

#block-menu-block-4 ul.menu li {
list-style: none;
padding: 3px;
}

#block-menu-block-4 li.collapsed, #block-menu-block-4 li.leaf {
margin:0 20px 0 0;
padding:0;
}

#block-menu-block-4 li.collapsed:hover, #block-menu-block-4 li.leaf:hover {
background: #027AC6;


}


/* Меню в подвале end*/


#block-block-11 { /* Счетчик mail.ru */
float: left;
margin-top: 20px;
margin-left: 5px;

}

#block-block-12 { /* Счетчик openstat */
float: left;
margin-top: 20px;
margin-left: 5px;

}

#block-block-2 { 

 margin-top: 50px;
 float: left;
 }
 
 /* Блок Uptime start*/
#block-uptime-uptime-widget { 
margin-top: 20px;
font-size: 0.7em;
overflow: hidden;
padding: 10px;
}
#block-uptime-uptime-widget table {
margin: 0;
}

.uptime-table, .uptime-body, td.uptime-notice {
    border-collapse: collapse;
}

div.uptime-wrap td.uptime-first, div.uptime-wrap td.uptime-last  {
border-width: 2px;
}

.uptime-table caption {
display: none;
}

/* Блок Uptime end*/


.block-simpleads{
float: left;
}

.region-bottom .block-simpleads {
border-right: 1px solid rgba(87, 87, 87, 0.52);
}
#backtotop {
 /* background: url(../images/backtotop_2.png) no-repeat center center; */
  top: 40px;
  /* убирает стиль оригинала */
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0);
font-size: 1pt;
text-indent: 0;
  
  
}

#backtotop:hover {
background: none;
opacity: 1;
}

/* Темизация страницы новостей */
#block-system-main .ent-news .views-row {
border: 1px solid #10A5F8;
margin-bottom: 10px;
box-shadow: 1px 1px 10px;
padding: 15px;
}

#block-system-main .ent-news .views-row-first {
margin-top: 10px;
}

#block-system-main .ent-news .views-row .views-field-title , #block-system-main .ent-news .views-row .views-field-created{
border-bottom: 1px dotted #CCC;
}

#block-simplenews-61 {
    top: 6px;
    position: absolute;
    right: 4px;
	padding: 0 2px;
}
#block-simplenews-61:hover {
background: #027AC6;
}

#block-simplenews-61 a:hover {
text-decoration: none;
}

.site-map-menus {
border: 2px solid #ededed;
padding: 0px 20px;
margin-top: 10px;
}

.site-map-box-terms {
border: 2px solid #ededed;
margin: 20px 5px 0 5px;
padding: 0px 20px;
width: 40%;
float: left;
}

#block-block-13 {

position: absolute;
top: 29px;
font-size: 0.8em;
left: 682px;
text-align: center;
color: #E7DFB5;
background: rgba(52, 54, 70, 0.58);
border: 2px solid #F2F3C2;
padding: 2px;
border-radius: 4px;

    -moz-transform: rotate(-15deg); 
    -ms-transform: rotate(-15deg); 
    -webkit-transform: rotate(-15deg); 
    -o-transform: rotate(-15deg); 
    transform: rotate(-15deg);
}

#main a[href^="http"]:not([HREF *= "entas.ru"]) /* Пометка внешних ссылок */{
background: url('/sites/all/themes/entas/images/external-link.png') no-repeat right;
padding-right: 15px;
}


.block-search-form .captcha-admin-links {
display: none;
}