/**
 * @file
 * Field Styling
 */


.field /* Wrapper for any field. */ {
}

/*
 * Field types (Core)
 */
.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
padding: 10px;
border: 1px solid #757575;
margin: 15px 0;
box-shadow: inset 0 0 15px #B9B9B9;
}
.field-name-field-filelink-page {
padding: 10px;
border: 1px solid #757575;
margin: 15px 0;
box-shadow: inset 0 0 15px #B9B9B9;
}

.field-type-link-field {
/* Что это за код?*//*padding: 10px;
border: 1px solid #757575;
margin: 15px 0;
box-shadow: inset 0 0 15px #B9B9B9;
line-height: 30px;*/
}

.field-type-taxonomy-term-reference {
}
.field-name-field-catalog  {
margin: 15px 0;
}

.field-name-field-catalog  .field-item {
float:left;
margin-right: 8px;
font-size: 0.9em;
}
.field-name-field-catalog  .field-item a {
/*color:#494848;
padding: 5px;
border: 1px solid #575757;
border-radius: 5px;*/
margin-right: 10px;
border: 1px solid #FF8F00;
padding: 1px 4px;
border-radius: 3px;
}

.field-name-field-catalog  .field-item a:hover{
background: #FF7A00;
color: #FFF;
text-decoration: none;
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */
.field-type-datetime /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */ {
}

.field-type-node-reference {
}

.field-type-user-reference {
}


/*
 * Named fields
 */
.field-name-body {
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME /* Underscores in field name are replaced with dashes. */ {
}


/* Поля "Событий" НАЧАЛО */

.node-event .field-label {
float:left;
}
.node-event .field {
margin-top: 5px;
/*width: 643px;*/
text-align: left;
}

.node-event .geolocation-map {
margin: 0 auto;
}

.field-name-field-type-event { /* Тип события */
padding: 10px;
background: rgba(211, 229, 231, 0.5);
text-align: center!important;
}

.field-name-field-type-event .field-label {
float: none;
}

.field-name-field-date { /* Дата */
padding: 10px;
background: rgba(211, 229, 231, 0.5);
}

.field-name-field-time-event{ /* Время/план события */
background: rgba(211, 229, 231, 0.5);
padding: 10px;
/*border: 1px solid #757575;
margin-top: 15px;*/
}

.field-name-field-location { /* Местоположение. Карта */
/*border: 1px solid #757575;
padding: 10px;*/
}
.field-name-field-link-event { /* Сссылка на сайт  */
padding: 10px;
background: rgba(211, 229, 231, 0.5);
text-align: center!important;
}

.node-event .field-type-image {text-align: center!important;}
.field-name-field-ticket-event { /* Билеты */
background: rgba(230, 228, 243, 0.5);
padding: 10px;
/*border: 1px solid #757575;*/
}

.field-name-field-location2 {
margin-top: 20px!important;
}
/*
.node-event .field-name-field-location .field-label,
.node-event .field-name-field-ticket-event .field-label,
.node-event .field-name-field-time-event .field-label,
.node-event .field-name-body .field-item[property="content:encoded"]{
float:none;
}*/


/* Теги событий. Начало. */

.field-name-field-location2  .field-item {
float:left;
margin-right: 8px;

}
.field-name-field-location2  .field-item a {
margin-right: 10px;
border: 1px solid #FF8F00;
padding: 1px 4px;
border-radius: 3px;
}

.field-name-field-location2  .field-item a:hover {
background: #FF7A00;
color: #FFF;
text-decoration: none;
}
.field-name-field-location2  .field-item a.active {
background: #027AC6;
color: #FFF;
}

/* Теги событий. КОНЕЦ. */
/* Поля "Событий" КОНЕЦ. */

#block-search-form .captcha-admin-links {
display:none;
}

.field-name-field-pop-limit {

}

.field-name-field-page-prior {

}