
/* last-блоки. Общие параметры. НАЧАЛО */
.last-block  .views-field-body {
font-size: 0.8em; /* Влияет на шрифт */
height: 60px;
}


/* Скрытие лишних полей навигации */

.last-block  .pager-last  {display: none!important;}
.last-block  .pager-next  {display: none!important;}
.last-block  .pager-first  {display: none!important;}
.last-block  .pager-previous  {display: none!important;}

/* Текущая позиция в навигации */
.last-block .pager-current {
background: #027AC6;
padding: 6px!important;
border-radius: 100%;
font-size: 0;
border: 1px solid rgba(41, 0, 255, 0.39);
}


/* Пункты навигации */
.last-block .pager li {
margin:0;
}

.last-block .pager li a {
background: #E9E9E9;
padding: 6px;
border-radius: 100%;
font-size: 0;
border: 1px solid #B3B3B3;
}

.last-block .pager li a:hover {
background: #027AC6;
border: 1px solid #636363;
}

.last-block .pager li.pager-current {
background: #027AC6;
border-radius: 100%;
border: 1px solid #636363;
font-weight: normal;
}

.last-block .views-field-field-image , .last-block .views-field-field-imagepage{
line-height: 205px;
height: 232px;
width: 290px;
/*float: left;*/
margin: 5px;
text-align: center;
box-shadow: 0 0 2px;
padding: 1px;
}


.last-block  img {
vertical-align: middle;
}

.last-block .view-footer {
z-index: 10;
position: absolute;
bottom: 16px;
right: 10px;

}

.last-block .date , .last-block .text-location {
font-size: 0.8em; /* Влияет на шрифт */
color: #000;
text-align: center;

}
.last-block .item-list { /* Пейджер last-блоков*/
bottom: 0px;
position: relative;
margin: 0 0 0 100px;
z-index: 10;
}

.last-block  .last-title{ /* Заголовок last-блоков*/
text-align: center;
z-index: 10;
position: relative;
}

.last-block .views-row-1  a {
display: block;

}

.last-block  .view-content {
z-index: 10;
position: relative;
}

/* last-блоки. Общие параметры. КОНЕЦ */

.blocks-last/*.region-highlighted .block:not(.first)*/ {
float: left;
width: 298px; /*31%*/
position: relative;
margin: 5px 4px;
font-size: 0.8em;
}

.blocks-last .active {
background: orange;
color: #fff;
}

.blocks-last .views-content-title {
box-shadow: inset 0px 0px 2px #575757;
padding: 0 5px;
height: 32px;
vertical-align: middle;
cursor: pointer;
text-align: center;
margin: 5px auto;
border: 1px solid #919191;
box-shadow: 2px 2px 5px #A3A3A3;
}

#block-views-last-files-block  .pager{
display: none;
}
#block-views-last-files-block  .image_event{
text-align: right;
}
#block-views-last-files-block  img{
float: none;
}


#block-views-last-files-block {
width: auto;
background: #FFF;
margin: 0;
padding: 0;
position: relative;
z-index: 50;
font-size: 0.8em;
height: 100px;
top: 5px;
}

#block-views-last-files-block .views-field-title {
position: absolute;
top: 0;
background:rgba(0, 0, 0, 0.52);
color:#fff;
z-index: 20;
}

#block-views-last-files-block .views-field-field-date {
bottom: 18px;
position: absolute;
background:rgba(0, 0, 0, 0.52);
color:#fff;
}

#block-views-last-files-block .views-field-field-location2 {
 position: absolute;
bottom: 3px;
background:rgba(0, 0, 0, 0.52);
color:#fff;
 }
 
#block-views-last-files-block .view-footer {
position: absolute;
bottom: 0px;
right: 0;
z-index: 20;
background: rgba(0, 0, 0, 0.52);
margin: 0;
padding: 0;
font-size: 0.9em;
color:#fff;
}

#block-views-last-files-block .view-footer  p{
margin: 0;
padding: 0;
}