
/* last-блоки. Общие параметры. НАЧАЛО */
.last-block  .views-field-body {
font-size: 0.8em; /* Влияет на шрифт */
height: 50px;
width: 266px;
}
.last-block  .views-field-body  p{
padding:2px;
margin: 0;
}

.last-block .views-field-field-image , .last-block .views-field-field-imagepage, .last-block .views-field-field-image-event {
line-height: 205px;
height: 200px;
width: 266px;
margin: 0 1px 0 0;
text-align: center;
padding: 1px;
/*border-right: 1px solid #919191;
border-left: 1px solid #919191;
border-top: 1px solid #919191;*/
}

.last-block  img {
vertical-align: middle;
}

.last-block .date , .last-block .text-location {
font-size: 0.8em; /* Влияет на шрифт */
color: #000;
text-align: center;
}

.last-block .views-row-1  a {
display: block;

}

.last-block  .view-content {
/*z-index: 10;*/
position: relative;
}

/* last-блоки. Общие параметры. КОНЕЦ */

.blocks-last {
float: left;
width: 276px;
position: relative;
margin: 5px 11px;
font-size: 0.8em;
height: 424px;
border: 1px solid #919191;
background: #FFF;
box-shadow: 3px 3px 7px #CCC;
}

.blocks-last .content{
width: 268px;
margin: 0 auto;
position: relative;
}

.blocks-last .views-content-title   {
background: rgba(134, 134, 134, 0.5);
}

.blocks-last .active  .views-content-title{
background: #1B4FBD;
color: #fff;
}

.blocks-last .views-content-title {
padding: 0 24px 0px 1px;
height: 28px;
vertical-align: middle;
cursor: default;
text-align: center;
width: 243px;
font-size: .85em;
border-top: 2px solid #FFF;
position: relative;
}

#block-views-last-files-block .view-empty {
text-align: center;
}

#block-views-last-files-block .content{
width: 250px;
height: 103px;
}

#block-views-last-files-block .views-field-field-date {
bottom: 18px;
position: absolute;
background:rgba(0, 0, 0, 0.52);
color:#fff;
}

#block-views-last-files-block .views-field-field-location2 {
 position: absolute;
bottom: 3px;
background:rgba(0, 0, 0, 0.52);
color:#fff;
 }

.blocks-last  .block-title {
font-size: 1.0em; /* Влияет на шрифт */
color: #FFF;
height: 18px;
line-height: 17px;
position: relative;
/*z-index: 50;*/
text-align: center;
background: #414141;
}


.blocks-last .fa-circle {
color:#fff;
font-size: 1.55em;
margin-top: 3px;
}

.blocks-last .views-content-title a {
width:25px;
height:25px;
position: absolute;
right: 4px;
top: 0px;
}

#block-views-banner-block {
width:310px;
position: relative;
/*background: rgba(0, 0, 0, 0.5);*/
margin-right: 30px;
height:115px;
}

.view-banner .views-field-field-image-event, .view-banner .views-field-field-image, .view-banner .views-field-field-imagepage {
height: 110px;
width: 110px;
float: left;
/*line-height: 113px;*/
text-align: center;
margin-top: 4px;
}
.view-banner img {
vertical-align: middle;
}

.view-banner .views-field-type {
font-size:0.8em;
}

.view-banner .views-slideshow-controls-top  {
float: right;
line-height: 22px;
margin-right: -30px;
/*background: rgba(0, 0, 0, 0.5);*/
height: 115px;
}

.view-banner .views-slideshow-controls-top .views-field-title{
font-size: 0;
padding: 8px;
background: #FF833D;
margin: 0 5px;
display: inline-block;
border-radius: 100%;
/*box-shadow: 0 0 2px #555252;*/
border:1px solid #FFFFFF;
}

.view-banner .views_slideshow_main .views-field-title, .view-banner .views-field-field-date, .view-banner .views-field-field-type-event, .view-banner .views-field-field-location2{
font-size:0.8em;
color: #FFF;
width: 310px;
text-shadow: 1px 1px 2px #0E0E0E;
}

.view-banner  .views-row {

}

.view-banner  .views-slideshow-controls-top .active  .views-field-title {
background: #E6E6FA;
}

.view-banner .views-field-title {

}

.view-banner .views-field-view-node a {
position: absolute;
width: 310px;
height: 115px;
display: block;
top: 0;
}

.last-block .views-field-field-date {
    background: none repeat scroll 0 0 #0000FF;
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 0 44px;
    position: absolute;
    right: 112px;
    text-align: center;
    top: 42px;
    -moz-transform: rotate(-45deg); 
    -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 125px;
}