
/* last-блоки. Общие параметры. НАЧАЛО */
.region-highlighted .block.first ,.region-highlighted .block.even {
margin-right:5px;
}
.last-block  .views-field-body {
font-size: 0.8em; /* Влияет на шрифт */
height: 52px;
/*width: 266px;*/
}
.last-block  .views-field-body  p{
padding:0px;
margin: 0;
}

.last-block .views-field-field-image , .last-block .views-field-field-imagepage, .last-block .views-field-field-image-event {
line-height: 205px;
height: 229px; /* get from imagecache *last-block image*  */
width: 304px;  /* get from imagecache *last-block image*  */
margin: 0 1px 0 0;
text-align: center;
padding: 1px;
/*border-right: 1px solid #919191;
border-left: 1px solid #919191;
border-top: 1px solid #919191;*/
}

.last-block  img {
vertical-align: middle;
}

.last-block .date , .last-block .text-location {
font-size: 0.8em; /* Влияет на шрифт */
color: #000;
text-align: center;
}

.last-block .views-row-1  a {
display: block;

}

.last-block  .view-content {
/*z-index: 10;*/
position: relative;
}

/* last-блоки. Общие параметры. КОНЕЦ */

.blocks-last {
float: left;
width: 314.5px;
position: relative;
margin: 5px 0px;
/*font-size: 0.8em;*/
height: 456px;
border: 1px solid #919191;
background: #FFF;
/*margin-top: 28px;
box-shadow: 3px 3px 7px #CCC;*/
}

.blocks-last .content{
width: 304px;
margin: 0 auto;
position: relative;
}

.blocks-last .views-content-title   {
background: rgba(134, 134, 134, 0.5);
}

.blocks-last .active  .views-content-title{
background: #1B4FBD;
color: #fff;
}

.blocks-last .views-content-title {
padding: 0 24px 0px 1px;
height: 28px;
vertical-align: middle;
cursor: default;
text-align: center;
width: inherit;
font-size: .85em;
border-top: 2px solid #FFF;
position: relative;
}

#block-views-last-files-block .view-empty {
text-align: center;
}

#block-views-last-files-block .content{
width: 250px;
height: 103px;
}

#block-views-last-files-block .views-field-field-date {
bottom: 18px;
position: absolute;
background:rgba(0, 0, 0, 0.52);
color:#fff;
}

#block-views-last-files-block .views-field-field-location2 {
 position: absolute;
bottom: 3px;
background:rgba(0, 0, 0, 0.52);
color:#fff;
 }

.blocks-last  .block-title {
font-size: 1.0em; /* Влияет на шрифт */
color: #FFF;
height: 18px;
line-height: 17px;
position: relative;
/*z-index: 50;*/
text-align: center;
background: #414141;
}


.blocks-last .fa-circle {
color:#fff;
font-size: 1.55em;
margin-top: 3px;
}

.blocks-last .views-content-title a {
width: 26px;
height: 28px;
position: absolute;
right: 0px;
top: 0px;
font-size:1.8em;
border-left: 1px solid white;
}

#block-views-banner-block {
width:310px;
position: relative;
/*background: rgba(0, 0, 0, 0.5);*/
margin-right: 30px;
height:115px;
}

.view-banner .views-field-field-image-event, .view-banner .views-field-field-image, .view-banner .views-field-field-imagepage {
height: 110px;
width: 110px;
float: left;
line-height: 91px;
text-align: center;
margin-top: 4px;
}
.view-banner img {
vertical-align: middle;
}

.view-banner .views-field-type {
font-size:0.8em;
}

.view-banner .views-slideshow-controls-top  {
float: right;
line-height: 22px;
margin-right: -30px;
/*background: rgba(0, 0, 0, 0.5);*/
height: 115px;
}

.view-banner .views-slideshow-controls-top .views-field-title{
font-size: 0;
padding: 8px;
background: #FF833D;
margin: 0 5px;
display: inline-block;
border-radius: 100%;
/*box-shadow: 0 0 2px #555252;*/
border:1px solid #FFFFFF;
}

.view-banner .views_slideshow_main .views-field-title, .view-banner .views-field-field-date, .view-banner .views-field-field-type-event, .view-banner .views-field-field-location2{
    font-size: 0.8em;
    color: #000;
    width: 310px;
    background: #FFF;
    /*height: 26px;*/
    line-height: 23px;
    padding-top: 3px;

    /* border: 1px solid; */
}

.view-banner  .views-row {
    border-top: 3px solid #FA762B;
    background: white;
    height: 106px;
}

.view-banner  .views-slideshow-controls-top .active  .views-field-title {
background: #E6E6FA;
}

.view-banner .views-field-title {

}

.view-banner .views-field-view-node a {
position: absolute;
width: 310px;
height: 115px;
display: block;
top: 0;
}

.last-block .views-field-field-date {
    background: red;
color: #FFF;
font-size: 1.2em;
padding: 0 44px;
position: absolute;
text-align: center;
top: 3px;
}
.field-name-field-expired {
background-color: #F8FFF0;
color: #234600;
background-image: url("/misc/message-24-ok.png");
border-color: #BBEE77;
background-position: 8px 8px;
background-repeat: no-repeat;
margin: 6px 0;
padding: 10px 10px 10px 50px;
border-width: 1px;
border-style: solid;
}