
/* last-блоки. Общие параметры. НАЧАЛО */
.last-block  .views-field-body {
font-size: 0.8em; /* Влияет на шрифт */
height: 50px;
/*border-right: 1px solid #919191;
border-left: 1px solid #919191;
border-bottom: 1px solid #919191;*/
/*width:292px;*/ /*временно*/
width: 266px;
}
.last-block  .views-field-body  p{
padding:2px;
margin: 0;
}
/* Скрытие лишних полей навигации */

.last-block  .pager-last  {display: none!important;}
.last-block  .pager-next  {display: none!important;}
.last-block  .pager-first  {display: none!important;}
.last-block  .pager-previous  {display: none!important;}

/* Текущая позиция в навигации */
.last-block .pager-current {
background: #027AC6;
padding: 6px!important;
border-radius: 100%;
font-size: 0;
border: 1px solid rgba(41, 0, 255, 0.39);
}


/* Пункты навигации */
.last-block .pager li {
margin:0;
}

.last-block .pager li a {
background: #E9E9E9;
padding: 6px;
border-radius: 100%;
font-size: 0;
border: 1px solid #B3B3B3;
}

.last-block .pager li a:hover {
background: #027AC6;
border: 1px solid #636363;
}

.last-block .pager li.pager-current {
background: #027AC6;
border-radius: 100%;
border: 1px solid #636363;
font-weight: normal;
}

.last-block .views-field-field-image , .last-block .views-field-field-imagepage, .last-block .views-field-field-image-event {
    text-align: center;

/*line-height: 205px;
height: 232px;
width: 290px;*/
margin: 5px 1px 0px 0px;
text-align: center;
padding: 1px;
/*border-right: 1px solid #919191;
border-left: 1px solid #919191;
border-top: 1px solid #919191;*/
}


.last-block  img {
vertical-align: middle;

}

.last-block .view-footer {
z-index: 10;
position: absolute;
bottom: 16px;
right: 10px;

}

.last-block .date , .last-block .text-location {
font-size: 0.8em; /* Влияет на шрифт */
color: #000;
text-align: center;

}
.last-block .item-list { /* Пейджер last-блоков*/
bottom: 0px;
position: relative;
margin: 0 0 0 100px;
z-index: 10;
}

.last-block  .last-title{ /* Заголовок last-блоков*/
text-align: center;
z-index: 10;
position: relative;
}

.last-block .views-row-1  a {
display: block;

}

.last-block  .view-content {
z-index: 10;
position: relative;
}

/* last-блоки. Общие параметры. КОНЕЦ */

.blocks-last {
float: left;
width: 280px;
position: relative;
margin: 5px 11px;
font-size: 0.8em;
height: 430px;
border: 1px solid #919191;
background: #FFF;
box-shadow: 3px 3px 7px #CCC;
}

.blocks-last .content{
width: 268px;
margin: 0 auto;
position: relative;
}


.blocks-last .views-content-title   {
background: rgba(134, 134, 134, 0.5);
}

.blocks-last .active  .views-content-title{
background: #1B4FBD;
color: #fff;
}

.blocks-last .views-content-title {
padding: 0 24px 0px 1px;
height: 28px;
vertical-align: middle;
cursor: default;
text-align: center;
width: 243px;
font-size: .85em;
border-top: 2px solid #FFF;
position: relative;
}

#block-views-last-files-block  .pager{
display: none;
}
#block-views-last-files-block  .image_event{
text-align: right;
}
#block-views-last-files-block  img{
float: none;
}


#block-views-last-files-block {
background: rgba(0, 0, 0, 0.5);
margin: 0;
padding: 3px;
position: relative;
z-index: 50;
font-size: 0.8em;
height: 100px;
top: 3px;
color: #FFF;
}

#block-views-last-files-block .view-empty {
text-align: center;
}

#block-views-last-files-block .content{
width: 250px;
height: 103px;
}

#block-views-last-files-block .views-field-title {
position: absolute;
top: 0;
background:rgba(0, 0, 0, 0.52);
color:#fff;
z-index: 20;
}

#block-views-last-files-block .views-field-field-date {
bottom: 18px;
position: absolute;
background:rgba(0, 0, 0, 0.52);
color:#fff;
}

#block-views-last-files-block .views-field-field-location2 {
 position: absolute;
bottom: 3px;
background:rgba(0, 0, 0, 0.52);
color:#fff;
 }
 
#block-views-last-files-block .view-footer {
position: absolute;
bottom: 0px;
right: 0;
z-index: 20;
background: rgba(0, 0, 0, 0.52);
margin: 0;
padding: 0;
font-size: 0.9em;
color:#fff;
}

#block-views-last-files-block .view-footer  p{
margin: 0;
padding: 0;
}

.blocks-last  .block-title {
font-size: 1.0em; /* Влияет на шрифт */
color: #FFF;
height: 18px;
line-height: 17px;
position: relative;
z-index: 50;
text-align: center;
background: #414141;
}


.blocks-last .fa-circle {
color:#fff;
font-size:1.8em;
}

.blocks-last .views-content-title a {
width:25px;
height:25px;
position: absolute;
right: 4px;
top: 0px;
}

#block-views-banner-block {
width:310px;
position: relative;
background: rgba(0, 0, 0, 0.5);
margin-right: 26px;
height:115px;
}

.view-banner .views-field-field-image-event, .view-banner .views-field-field-image, .view-banner .views-field-field-imagepage {
height: 110px;
width: 110px;
float: left;
line-height: 113px;
text-align: center;
}
.view-banner img {
vertical-align: middle;
}

.view-banner .views-field-type {
font-size:0.8em;
}

.view-banner .views-slideshow-controls-top  {
float: right;
line-height: 22px;
margin-right: -26px;
background: rgba(0, 0, 0, 0.5);
height: 115px;
}

.view-banner .views-slideshow-controls-top .views-field-title{
font-size: 0;
padding: 8px;
background: #FF833D;
margin: 0 5px;
display: inline-block;
border-radius: 100%;
box-shadow: 0 0 2px #555252;
}

.view-banner .views_slideshow_main .views-field-title, .view-banner .views-field-field-date, .view-banner .views-field-field-type-event, .view-banner .views-field-field-location2{
font-size:0.8em;
color: #FFF;
width: 310px;
text-shadow: 1px 1px 2px #0E0E0E;
}

.view-banner  .views-row {

}

.view-banner  .views-slideshow-controls-top .active  .views-field-title {
background: #1B4FBD;
}

.view-banner .views-field-title {

}

.view-banner .views-field-view-node a {
position: absolute;
width: 310px;
height: 115px;
display: block;
top: 0;
}