/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
 
 .region-sidebar-first li.expanded.active-trail  a, .region-sidebar-first li.expanded.active-trail a:before{
color:#000;
}
 
.menu li a.active {
  color: #F60!important;
  }
#block-menu-block-4 a.active, #block-simplenews-61 a.active{
color: red;
}
#block-simplenews-61 a.active:before {
color:red;
}
  
.region-sidebar-first .expanded>a:hover {
background: #027AC6;
}

.region-sidebar-first a{
	color:#585858;
	/*text-shadow: 1px 1px 1px #000; *//* тень шрифта в левой колонке */
	font-weight: normal;	
	display: block;
	line-height: 1.1em;
	padding: 2px 0px 6px 5px;
	border-bottom: 1px solid #C8C8C8;
}
.region-sidebar-first a:hover{
background: #027AC6;
text-shadow: none;
color: white!important;
text-decoration: none;
}
/* explorer style in menu*/  
.region-sidebar-first li.expanded a{
border-left: 1px dotted; 
}  
  
  
/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
  background: #FA762B;
  /*margin-top: -5px;*/
  font-size: 0.8em; /* Влияет на шрифт */
  z-index: 300;	
	}
	
#navigation .section {
width: 960px;
margin: 0 auto;
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
 /* margin: 0px 0 0 25px;*/ 
  padding: 0;
  text-align: left; /* LTR */
 z-index: 500;
}


#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
  }

.region-navigation {
}
#main-menu {
}
#secondary-menu {  float: right;}

.region-sidebar-first .block-menu {border-bottom: 1px solid #F60}

li.menu-path-front {
padding: 7px 10px!important;
}
.menu-path-front  a {
font-size: 1pt;
color:#414141;
}

/* Icons from Font Awesome  */
.region-sidebar-first .expanded > a:before, .region-sidebar-first ul li.leaf a:before, .region-sidebar-first .collapsed a:before  {
/*background: red;*/
padding-right:3px;
display: block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
color:#414141;
float:left;
padding-bottom: 5px;
}

.region-sidebar-first .collapsed a:before {
content: "\f101";
font-size:1.35em;
}

.region-sidebar-first .expanded>a:before {
content: "\f103";
font-size:1.35em;
}

.region-sidebar-first ul li.leaf a:before {
content: "\f105";
/*vertical-align: middle;*/
font-size:1.35em;
}

.region-sidebar-first ul li.expanded, .region-sidebar-first ul li.collapsed, ul li.leaf {
list-style-image:none;
list-style-type:none;
}

/* Downloads menu item */
.menu-2667 a:before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
content: "\f019""\00a0\00a0";
}
/* FAQ manu item */
.menu-790 a:before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
content: "\f059""\00a0\00a0";
}
/* Training manu item */
.menu-3232 a:before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
content: "\f02d""\00a0\00a0";
}


/* back to top */

#backtotop:after {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
content: "\f139";
color: #FF820F;
font-size: 61em;
top: -5px;
position: absolute;
right: 0px;
}

#backtotop:hover:after {
color: #f60;
font-size: 63em;
}

/* Home1  */
.menu-path-front a:after {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
content: "\f015";
color: #FFF;

font-size: 15em;
position: absolute;
top: 17%;
left: 25%;
}

/* Стрелка вправо  */
ul.nice-menu-down li li.menuparent:after {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
content: "\f054";
right: 5px;
position: absolute;
top: 30%;
font-size: 1.2em;
color: antiquewhite;
}

/* Home2  */
.menu-mlid-1838 a {
/*font-size: 0;*/
}

.menu-mlid-1838 a:before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
content: "\f015";
color: #F60;
vertical-align: middle;
text-align: center;
margin-top: -5px;
font-size: 1.2em;
cursor: pointer;
margin-right: 4px;
}
.menu-mlid-1838 a.active:before {
color:red;
}
.menu-mlid-1838 a.focus:before., .menu-mlid-1838 a.hover:before, .menu-mlid-1838 a.active:before {
text-decoration: underline;
}

/* Sitemap  */
.menu-mlid-1839 a:before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
content: "\f0e8";
color: #F60;
margin-right: 4px;
}
.menu-mlid-1839 a.active:before {
color:red;

}


/* Search  */
.menu-mlid-1840 a:before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
content: "\f002";
color: #F60;
margin-right: 4px;
}
.menu-mlid-1840 a.active:before {
color:red;

}

.menu-mlid-1839 a.hover:before{
text-decoration: underline;
}
/* Feedback  */
.menu-mlid-2904 a:before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
content: "\f044";
color: #F60;
margin-right: 4px;
}
.menu-mlid-2904 a.active:before {
color:red;

}
/* Subscribe  3649*/
.menu-mlid-3649 a:before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
content: "\f0e0";
color: #F60;
margin-right: 4px;
}
.menu-mlid-3649 a.active:before {
color:red;

}

#block-menu-block-4 a:hover {
text-decoration: none;
} 

.fixed{
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
	z-index:200;
	
}

.menu li a.active:before {
color:#F60!important;
}
