# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

tmp/*
base/*
drupal/*
forbidden/*
restricted/*
test/*
web-app/*
wiki/*
xampp/*
xfiles/*
Thumbs.db
yandex*.txt
mywotbd*.html
google*.html
mailru*.html
sites/all/modules/security_review/file_write_test*
sites/all/modules/security_review/IGNOREME.txt
BingSiteAuth.xml
