
/* last-блоки. Общие параметры. НАЧАЛО */
.last-block  p {
font-size: 0.8em;
}

/* Скрытие лишних полей навигации */

.last-block  .pager-last  {display: none!important;}
.last-block  .pager-next  {display: none!important;}
.last-block  .pager-first  {display: none!important;}
.last-block  .pager-previous  {display: none!important;}

/* Текущая позиция в навигации */
.last-block .pager-current {
background: #027AC6;
padding: 6px!important;
border-radius: 35%;
font-size: 0;
border: 1px solid rgba(41, 0, 255, 0.39);
}


/* Пункты навигации */
.last-block .pager li a {
background: #DAD7E9;
padding: 6px;
border-radius: 35%;
font-size: 0;
border: 1px solid #C9C9C9;
}

.last-block  img {
float: left;
margin-right: 5px;
margin-bottom: 5px;
margin-top: 5px;

}

.last-block .date , .last-block .text-location {
font-size: 0.8em;
color: #000;
text-align: center;
text-shadow: 0 0 2px #A2A2A2;
}
.last-block .item-list { /* Пейджер last-блоков*/
bottom: -15px;
position: absolute;
margin: 0 0 0 30%;
}

.last-block  .last-title{ /* Заголовок last-блоков*/
text-align: center;
}

.last-block .views-row-1  a {
display: block;

}

/* last-блоки. Общие параметры. КОНЕЦ */

.region-highlighted .block:not(.first) {
float: left;
padding: 10px;
width: 298px;
height: 250px;
position: relative;
}

.region-highlighted .block:before{
content: " ";
/*background: rgba(255, 0, 0, 0.12);*/
-webkit-transform: rotate(2deg);
margin: 1px;
position: absolute;
width: 298px;
height: 250px;
z-index: 5;
top:0;
border-top: 1px solid #575757;
border-right: 1px solid #575757;
}

.region-highlighted .block:after {
content: " ";
/*background: rgba(0, 184, 255, 0.12);*/
-webkit-transform: rotate(1deg);
margin: 1px;
position: absolute;
width: 298px;
height: 250px;
z-index: 5;
top:0;
border-top: 1px solid #575757;
border-right: 1px solid #575757;
}

.test3 {
/*
border-top: 1px solid #575757;
border-left: 1px solid #575757;*/
}